@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
}

body {
  background-color: rgb(26, 33, 55);
  background-image: linear-gradient(to top, #afbdf8 0%, #867feb 100%);
  color: white;
}